repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.74.1 # Get the latest from: https://github.com/antonbabenko/pre-commit-terraform/releases
  hooks:
    - id: terraform_fmt
    - id: terraform_validate
    - id: terraform_docs
      args:
      - --hook-config=--path-to-file=README.md        # Valid UNIX path. I.e. ../TFDOC.md or docs/README.md etc.
      - --hook-config=--add-to-existing-file=true     # Boolean. true or false
      - --hook-config=--create-file-if-not-exist=true # Boolean. true or false
